**Name: Maria Master**

**Class: INST 314 (0202)**

## Dataset 1: Student Grade Prediction

**1. Describe how you found the data.  If you used a search engine, provide the exact search engine and search terms you used. Otherwise, describe how you came to find the data.**

**A:** I found this dataset in Kaggle after I looked up "Student" in the search bar.

**2. Give a short verbal description of the data. Just a couple of sentences, like you were describing it briefly to someone in person, just to tell them generally what it is.**

**A:** This dataset contains information regarding student achievement in secondary education in two Portugese Schools (Gabriel Pereira & Mousinho da Silveira). It distinctly looks at two subjects: Math and Portugese. The dataset includes information such as student demographics, family background, and study information for each student.

**3. Do you have any information about how the data was collected?  If so, briefly describe the data collection process.  If not, take a guess how it might have been collected, and describe why you think that.**

**A:** This data was collected using school reports and questionnaires.

**4. a) Where is the data located (URL, etc.)?  This should be specific enough that the instructor/graders can find and download thedata themselves.If the instructor/graders cannot access or download the data themselves, describe what is preventing that (e.g., this is personal data on your own computer), and describe how you plan to share the data.**

**A:** URL: https://www.kaggle.com/datasets/dipam7/student-grade-prediction

If the data can not be accessed using the URL above, I will share the csv file with the instructional team. PLEASE make sure to upload the data in the same workspace as this Jupyter Notebook.

**4. b) File size (in KB, MB, or GB)**

**A:** 41.98 kB

**4. c) File format (extension, CSV, JSON, Excel, etc.)**

**A:** CSV

**5. How do you know you have permission to use and share the data?  For example, if there are any licenses, describe those, or if there is a URL to a page that describes permissions, you can link to that. Otherwise, describe your rationale for why you think you can analyze and share the data.**

**A:** There are no licenses. However, if you access the data from it's original source which is UCI Machine Learning Repository, there is a license. The dataset is licensed under a Creative Commons Attribute 4.0 International (CC BY 4.0) license. However, it allows for the sharing and adaptation of the dataset as long as UCL Machine Learning Repository is credited.

**6. Do you think there is any kind of privacy or ethical risk by using/sharing the data?  Describe your rationale.**

**A:** I do not think there are any privacy or ethical rish by using/sharing the data as it is anonymized and used for educational purposes.

**7. Load the data into your analysis program (R or Python).  Paste in the code you used that worked.**

In [38]:
# import pandas
import pandas as pd

# create dataframe
df = pd.read_csv("student-mat.csv", sep = ",")

**8.** Use R/Python to look at the first few rows of data.  Paste in the code you used to do that.

In [39]:
# print the top 5 records
print(df.head(5))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

**9. Are you surprised by anything in the first few rows?  What kind of values did you expect to see?  Your answer can be general; you don't have to describe every variable/column.**

**A:** I was a bit surprised by a few of the numeric variables. Before looking at the records, by simply looking at the variables, one might think that some of these numeric variables could contain a boolean data type such as a yes/no (examples include: "freetime","famrel", etc). However, instead the numeric values were selected from a range of numbers such as from 1 to 5, 1 being very low and 5 being very high.

**10. How many columns/variables of numeric data are there?  Note that your data *must* have at least
two columns of numeric data.  If not, keep looking!**

**A:** There are 16 numeric variables.

**11.  Is there non-numeric data?  What kinds of non-numeric data do there appear to be?**

**A:** There are 17 non-numeric variables. They are mostly boolean data types (yes/no, gender, family background, etc.).

**12. How many rows/records are there?  How many columns/variables?**

**A:** Total rows/records are 395 and total columns/variables are 33.

**13. Select a numeric column that appears to be interesting.  Describe why you think it might be interesting.**

**A:** An interesting numeric column is "goout". Given that this dataset could be used to predict student achievements in school, it woudld be interesting to learn whether there are any correlation between the amount of time students spend going out and their grades.

**14. Make an educated guess about what you think the minimum and maximum values of this numeric variable are. Describe your reasoning.**

**A:** The maximum value of the "goout" variable is 5 and the minimum value is 1. A 1 means that the student rarely goes out whereas a 5 means that the student goes out all the time.

**15. Get the actual minimum and maximum values, and paste in the code you used to get these values.**

In [40]:
# find the min and max value of the numeric variable "goout"
min_val = df['goout'].min()
max_val = df['goout'].max()

# print the min and max value 
print('Minimum value: ', min_val)
print('Maximum value: ', max_val)

Minimum value:  1
Maximum value:  5

**16. Were you surprised by the actual values?  Describe what you think about why they are defying your expectations.**

**A:** No, I was not surprised to see the actual minimum and maximum values of the "goout" column because the description of the column already presented them (i.e. 1 = very low, 5 = very high). However, other numeric variables such as the "absences" variable could be surprising.

**17. Can you see any patterns of missing data in this data set? Describe what you see, and paste in code you used to look.**

**A:** There are no missing instances in the data set.

In [41]:
""" 
Option 1: 
- Use .isna() pandas function to check whether there is a missing value or not.
- Will return true if yes, and False if no. """

print(df.isna().head())

   school    sex    age  address  famsize  Pstatus   Medu   Fedu   Mjob  \
0   False  False  False    False    False    False  False  False  False
1   False  False  False    False    False    False  False  False  False
2   False  False  False    False    False    False  False  False  False
3   False  False  False    False    False    False  False  False  False
4   False  False  False    False    False    False  False  False  False

    Fjob  ...  famrel  freetime  goout   Dalc   Walc  health  absences     G1  \
0  False  ...   False     False  False  False  False   False     False  False
1  False  ...   False     False  False  False  False   False     False  False
2  False  ...   False     False  False  False  False   False     False  False
3  False  ...   False     False  False  False  False   False     False  False
4  False  ...   False     False  False  False  False   False     False  False

      G2     G3
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False

[5 rows x 33 columns]

In [42]:
""" 
Option 2:
- Use the .isna() function with .sum() function. This will count any instances of True that 
the .isna() function will return. If the sum is 0, there are no missing record instances."""

print(df.isna().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

**18. Describe anything else you found surprising or noteworthy about the data.**

**A:** What surprised me a little was not having any missing values. This makes me assume that each question's answer in the questionnaire was probably required for the students to fill. As for the family background data, it could also be assumed that because the students are secondary education students (i.e. Grade 10 to Grade 12) and because the data is anonymized, there is a lower possibility of unreliable data unless there was a risk for the students to be contacted after data colleciton. Most of the data for each of the variable had a skewness or were unimodal.

**19. Is this data interesting to you?  Why or why not?  What kinds of questions do you think it might be able to answer?**

**A:** I think this dataset is interesting. It is a large dataset and give insights into student lives from a different country (Portugal). Some questions that can be answered using this dataset are:

- What are the leading factors that contribute to a student's sucess in secondary education in Portugal?
- How can we use this dataset to understand and improve our education system?
- How can we use this dataset to develop a personalized study plan for student who are at risk of failing?

These are only some of the questions. There could possibly be many more.